// Creating a media query for narrow devices
@media only screen and (max-width: 376px) {
    body {
        font-size: 15px;
            .main {
                .lead {
                    font-size: 15px;
                }
                #btnInstruction {
                    font-size: 10px;
                }
                #instruction-div {
                    font-size: 15px;
                    .btn {
                        font-size: 10px;
                    }
                }
                #counter-div {
                    font-size: 15px;
                    .btn {
                        font-size: 10px;
                    }
                    #result {
                        font-size: 1.5rem;
                    }
                }
            }
        
    }
}